<header class="header">

	<div class="header__content">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<h1 class="header__tagline">{{ site.data.settings.basic_settings.site_tagline }}</h1>

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<div class="projects-menu">
					<ul class="menu__list">
						{% for project in site.projects reversed %}
						<li class="menu__list__item">
							<a href="{{ project.url | relative_url }}" class="menu__list__item__link">{{ project.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>

				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>


		<div class="header__lower">
			<div class="exhibition-notice">
				<p>
					<b>Current & Upcoming Exhibitions</b>
				</p>
				<p>
					<a href="https://soshiro.co/read/soshiro-presents-welding-cultures/">Welding Cultures</a>
					<br />SoShiro Gallery, London<br />
					2nd June - 30th July 2021
				</p>
				<p>
					<a href="https://www.dcch.co.uk/design-avenue/artefact/">Artefact</a><br />
					Design Centre London<br />
					22nd June - 29th June 2021
				</p>
			</div>

			{% include socials.html %}
			<p>&copy; Frances Pinnock 2021</p>

		</div>

	</div>

</header>
