<header class="header">

	<div class="header__content">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<h1 class="header__tagline">{{ site.data.settings.basic_settings.site_tagline }}</h1>

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					<li class="menu__list__item menu-gap">&nbsp;</li>
					<li class="menu__list__item menu__list__item__header">
						Selected Works
					</li>
					<li class="menu__list__item">
						<a href="/project/escapade" class="menu__list__item__link menu-offset">Escapade, 2024</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/light-sleeper" class="menu__list__item__link menu-offset">Light Sleeper, 2024</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/lighthouse" class="menu__list__item__link menu-offset">Lighthouse, 2024</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/steady-metronome" class="menu__list__item__link menu-offset">Steady Metronome (Custom Melody), 2024</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/volatilia" class="menu__list__item__link menu-offset">Volatilia (Dream with Pelican), 2023</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/dress-for-the-job-you-want" class="menu__list__item__link menu-offset">Dress for the job you want (Accoutrements & Illuminations), 2023</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/parallel-repeat" class="menu__list__item__link menu-offset">Parallel Repeat (Feet Parallel), 2023</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/we-should-come-here-some-time" class="menu__list__item__link menu-offset">We should come here some time, 2022</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/bombard-standing-form" class="menu__list__item__link menu-offset">Bombard Standing Form, 2020</a>
					</li>
					<li class="menu__list__item menu-gap">&nbsp;</li>
				</ul>

				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					<li class="menu__list__item menu-gap">&nbsp;</li>
					{% endfor %}
				</ul>
			</div>
		</div>


		<div class="header__lower">
			<p>&copy; Frances Pinnock 2026</p>
		</div>

	</div>

</header>
