<header class="header">

	<div class="header__content">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		<h1 class="header__tagline">{{ site.data.settings.basic_settings.site_tagline }}</h1>

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					<li class="menu__list__item">
						<a href="/project/selected-works" class="menu__list__item__link">Selected Works</a>
					</li>
					<li class="menu__list__item menu-gap">&nbsp;</li>
					<li class="menu__list__item menu__list__item__header">
						Sculpture
					</li>
					<li class="menu__list__item">
						<a href="/project/osculare" class="menu__list__item__link menu-offset">Osculare (Miniature)</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/two-standing-forms" class="menu__list__item__link menu-offset">Two Standing Forms</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/etudes" class="menu__list__item__link menu-offset">Étude</a>
					</li>
					<li class="menu__list__item menu-gap">&nbsp;</li>
					<li class="menu__list__item menu__list__item__header">
						Vessel Sculpture
					</li>
					<li class="menu__list__item">
						<a href="/project/bombards" class="menu__list__item__link menu-offset">Bombard</a>
					</li>
					<li class="menu__list__item">
						<a href="/project/hex" class="menu__list__item__link menu-offset">Hex</a>
					</li>
					<li class="menu__list__item menu-gap">&nbsp;</li>
					<li class="menu__list__item">
						<a href="/project/drawings" class="menu__list__item__link">Drawing</a>
					</li>
					<li class="menu__list__item menu-gap">&nbsp;</li>
				</ul>

				<!--
				<div class="projects-menu">
					<ul class="menu__list">
						{% for project in site.projects reversed %}
						<li class="menu__list__item">
							<a href="{{ project.url | relative_url }}" class="menu__list__item__link">{{ project.title }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				-->

				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>


		<div class="header__lower">
			<div class="exhibition-notice">
				<p>
					<b>Current & Upcoming Exhibitions</b>
				
				</p>
				<p>
					<a href="https://www.fogfair.com/">FOG Art + Design</a><br />
					Sarah Myerscough Gallery<br />
					20th - 23rd January 2022<br />
			       
				</p>    
				 
					
			</div>

			{% include socials.html %}
			<p>&copy; Frances Pinnock 2021</p>

		</div>

	</div>

</header>
